html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  #___gatsby {
    width: 100%;
    height: 100%;

    #gatsby-focus-wrapper {
      width: 100%;
      height: 100vh;
    }
  }
}


@import "login";
@import "home";