.login {
   background-color: black;
   height: 100%;
   .background-album-art {
      background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, #000 320px),url(../../assets/images/clay-banks-fEVaiLwWvlU-unsplash.jpg) repeat-x center -115px;
   }

   .full-screen {
       min-height: 100vh;

       .logo-container {
          width: 350px;
          height: 200px;

          .login-btn {
            font-size: 18px;
            line-height: 1;
            border-radius: 500px;
            padding: 16px 48px 18px;
            transition-duration: .3s;
            border-width: 0;
            letter-spacing: 2px;
            min-width: 160px;
            text-transform: uppercase;
            white-space: normal;
            background-color: #fff;
            color: #2D46B9;
            &:hover {
              background-color: #1db954;
              border-color: #1db954;
              color: #2D46B9;
            }
          }
       }
   }
}